
@font-face {
    font-family: 'axis_stdb';
    src: url('axisstd-bold-webfont.woff2') format('woff2'),
         url('axisstd-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'axis_stdel';
    src: url('axisstd-extralight-webfont.woff2') format('woff2'),
         url('axisstd-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'axis_stdh';
    src: url('axisstd-heavy-webfont.woff2') format('woff2'),
         url('axisstd-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'axis_stdl';
    src: url('axisstd-light-webfont.woff2') format('woff2'),
         url('axisstd-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'axis_stdm';
    src: url('axisstd-medium-webfont.woff2') format('woff2'),
         url('axisstd-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'axis_stdr';
    src: url('axisstd-regular-webfont.woff2') format('woff2'),
         url('axisstd-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'axis_stdul';
    src: url('axisstd-ultralight-webfont.woff2') format('woff2'),
         url('axisstd-ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}







@font-face {
    font-family: 'tofinoblack';
    src: url('tofino_black-webfont.woff2') format('woff2'),
         url('tofino_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tofinobold';
    src: url('tofino_bold-webfont.woff2') format('woff2'),
         url('tofino_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tofinobook';
    src: url('tofino_book-webfont.woff2') format('woff2'),
         url('tofino_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tofinolight';
    src: url('tofino_light-webfont.woff2') format('woff2'),
         url('tofino_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tofinomedium';
    src: url('tofino_medium-webfont.woff2') format('woff2'),
         url('tofino_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tofinoregular';
    src: url('tofino_regular-webfont.woff2') format('woff2'),
         url('tofino_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tofinothin';
    src: url('tofino_thin-webfont.woff2') format('woff2'),
         url('tofino_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tofinoultra';
    src: url('tofino_ultra-webfont.woff2') format('woff2'),
         url('tofino_ultra-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}